header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    color: black;
    background-color: white;
    font-family: 'Love Ya Like A Sister', cursive;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.logoContainer:hover {
    color: white;
    text-decoration: none;
}

.logoImg {
    margin-right: 0.5rem;
}

.logoTitle {
    color: black;
    margin: 0;
    text-align: center;
}

.headerProfileDisplay {
    display: flex;
    align-items: center;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border-radius: 2rem;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.205);
    padding: 0.2rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.headerProfileDisplay:hover {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.384);
}

.profileName {
    margin: 0;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}