body {
    background-color: white;
}

main {
    display: grid;
}

.translatorContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 1;
    grid-gap: 20px;
    justify-content: stretch;
}

.inputContainer {
    position: relative;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: solid 2px rgb(255, 255, 255);
    box-shadow: 2px 2px 1px 1px rgb(0, 0, 0);
    border-radius: 1rem;
}

.outputContainer {
    /*overflow-y: scroll;*/
    width: 100%;
    max-height: 100%;
    grid-row: 2;
    color: black;
    background-color: white;
    border: solid 2px rgb(255, 255, 255);
    box-shadow: 2px 2px 1px 1px rgb(0, 0, 0);
    border-radius: 1rem;
    padding-bottom: 20px;
}
